// should the widths be here?

$xxxl: 1200px;
$xxl:  970px;
$xl:   800px;
$lg:   650px;
$md:   450px;
$sm:   330px;

// horizontal breakpoints
@mixin bp($width){
  @media (min-width: $width){ @content; }
}

// vertical breakpoint
@mixin vbp($width){
  @media (min-height: $width){ @content; }
}