<div class="offer-promo vpad--xxxxl">
  <div class="offer-promo__bgs">
    <div class="offer-promo__bg" style="background-image: url('{{site.img}}/offer-promo/01.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{site.img}}/offer-promo/02.jpg')"></div>
    <div class="offer-promo__bg" style="background-image: url('{{site.img}}/offer-promo/03.jpg')"></div>
  </div>
  <div class="offer-promo__content">
    <div class="container container--xl">
      <div class="text--center">
        <h2 class="core-title core-title--xxl">That’s not all we&nbsp;do...</h2>
        <div class="container container--no-padding container--lg">
          <p class="text--lg vpad--xxs">Didn’t see anything here to take your fancy? Well, we have loads more offers with savings of up to 60%!</p>
          <div class="space--sm"></div>
          <a id="track-btn-current-sales" href="{{site.core-se-link}}" class="btn btn--orange">See All Current Sales</a>
        </div>
      </div>
    </div>
  </div>
</div>