---
layout: default
id: overview
nav: false
nav-order: 1
title: Overview
intro: this is my home page



countries:

- title: "Abu Dhabi"
  url: "http://mp.secretescapes.com/abu-dhabi"

- title: "Aruba"
  url: "http://mp.secretescapes.com/de/aruba"

- title: "Bahrain"
  url: "http://mp.secretescapes.com/de/bahrain"

- title: "Bayern Sightsleeping"
  url: "http://mp.secretescapes.com/de/bayern-sightsleeping"

- title: "Dubai"
  url: "http://se-media.s3-website-eu-west-1.amazonaws.com/dubai"

- title: "Finnland"
  url: "http://mp.secretescapes.com/de/finnland"

- title: "Florida"
  url: "http://mp.secretescapes.com/de/st-pete-clearwater/"

- title: "Griechenland"
  url: "http://mp.secretescapes.com/de/griechenland"

- title: "Italien"
  url: "http://mp.secretescapes.com/de/italien"

- title: "Jordanien"
  url: "http://mp.secretescapes.com/jordan"

- title: "Kalifornien"
  url: "http://mp.secretescapes.com/visitcalifornia"

- title: "Malta"
  url: "http://mp.secretescapes.com/de/malta"

- title: "Martinique"
  url: "http://mp.secretescapes.com/de/martinique"

- title: "Mauritius"
  url: "http://mp.secretescapes.com/de/mauritius"

- title: "Oman"
  url: "http://mp.secretescapes.com/de/oman"

- title: "Portugal"
  url: "http://mp.secretescapes.com/portugal"

- title: "Südafrika"
  url: "http://mp.secretescapes.com/suedafrika"

- title: "Westaustralien"
  url: "http://mp.secretescapes.com/qatar"


---
<!-- overlay -->

<div id="overlay" onclick="off()">

  <div class="overlay__content text--center">
    <h1 class="title--lg title text--white">Wohin geht Ihre nächste <br>Traumreise?</h1>

    <div class="space--xl"></div>
  <a class="btn btn--orange ">Jetzt inspirieren lassen</a>

  <div class="space--xxl"></div>
  <div class="width width--md text--white text--bold" >Nur einen Klick entfernt: <br>Navigieren Sie einfach über die Markierungsfähnchen und erkunden Ihr Lieblingsreiseziel.</div>

</div>
</div>

<script>
function on() {
    document.getElementById("overlay").style.display = "block";
    document.getElementById("mydiv").style.display = "none";
    document.getElementById("scroll").style.overflow = "hidden";
    document.getElementById("map").classList.add("disable-scroll");
}

function off() {
    document.getElementById("overlay").style.display = "none";
    document.getElementById("mydiv").style.display = "block";
    document.getElementById("scroll").style.overflow = "scroll";
    document.getElementById("map").classList.remove("disable-scroll");

}
</script>




<!-- drop down -->
<div id="mydiv" onclick="toggleState(mylist)">
<div id="mydivheader">Land wählen:   <span style="float:right; font-size:20px;">+</span></div>

<div id="mylist" style="" class="off">
  {% for country in page.countries %}

    <a href="{{country.url}}" target="_blank" class="popup-link">{{country.title}} </a>

  {% endfor %}
  </div>

</div>



<script language="javascript">

function toggleState(item){
        //alert(item);
  if(item.className == "on") {
    item.className="off";
    } else {
    item.className="on";
   }
}

//Make the DIV element draggagle:
/*
dragElement(document.getElementById("mydiv"));

function dragElement(elmnt) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  if (document.getElementById(elmnt.id)) {
    // if present, the header is where you move the DIV from:

    document.getElementById(elmnt.id).onmousedown = dragMouseDown;
    document.getElementById(elmnt.id).ontouchstart = ontouchmove;
  } else {
    // otherwise, move the DIV from anywhere inside the DIV:
    elmnt.onmousedown = dragMouseDown;
  }

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    // stop moving when mouse button is released:
    document.onmouseup = null;
    document.onmousemove = null;
  }
}
*/

</script>

<!-- map -->
<div id='map' ></div>
<div id='bvmap' >
  <div id="bvitem" onclick="toggleState(mylist)">
    <div id="">Land wählen:  <span style="float:right; font-size:20px;">+</span></div>
  <div id="" style="" class="off">
    {% for country in page.countries %}

      <a href="{{country.url}}" target="_blank" class="popup-link">{{country.title}} </a>

    {% endfor %}
    </div></div>
</div>


<div class="container container--xl vpad--xxl text--center">

  <div class="title title--md">Kampagnen-Überblick</div>
  <div class="space--md"></div>
  <div class="text--xxl text--black" >Majestätische Bergwelten, malerische Traumstrände und spannende Städtetrips – wir laden Sie ein, mit uns die Welt zu entdecken. Erleben Sie handverlesene Sehnsuchtsorte auf ganz besondere Weise. Wir möchten Sie mit einzigartigen zu unvergesslichen Reisen und Hotelaufenthalten inspirieren.
      Die Welt liegt Ihnen zu Füßen, die passenden Reiseziele stellen wir Ihnen hier vor.
  </div>
<div class="space--lg"></div>

</div>


<script>

  var dragbvitem = document.querySelector("#bvitem");
  var bvmap = document.querySelector("#bvmap");

  var active = false;
  var currentX;
  var currentY;
  var initialX;
  var initialY;
  var xOffset = 0;
  var yOffset = 0;

  bvmap.addEventListener("touchstart", dragStart, false);
  bvmap.addEventListener("touchend", dragEnd, false);
  bvmap.addEventListener("touchmove", drag, false);

  bvmap.addEventListener("mousedown", dragStart, false);
  bvmap.addEventListener("mouseup", dragEnd, false);
  bvmap.addEventListener("mousemove", drag, false);

  function dragStart(e) {
    if (e.type === "touchstart") {
      initialX = e.touches[0].clientX - xOffset;
      initialY = e.touches[0].clientY - yOffset;
    } else {
      initialX = e.clientX - xOffset;
      initialY = e.clientY - yOffset;
    }

    if (e.target === dragbvitem) {
      active = true;
    }
  }

  function dragEnd(e) {
    initialX = currentX;
    initialY = currentY;

    active = false;
  }

  function drag(e) {
    if (active) {

      e.preventDefault();

      if (e.type === "touchmove") {
        currentX = e.touches[0].clientX - initialX;
        currentY = e.touches[0].clientY - initialY;
      } else {
        currentX = e.clientX - initialX;
        currentY = e.clientY - initialY;
      }

      xOffset = currentX;
      yOffset = currentY;

      setTranslate(currentX, currentY, dragbvitem);
    }
  }

  function setTranslate(xPos, yPos, el) {
    el.style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
  }


</script>
