<!-- The main site header to look like core SE site-->
<div class="core-nav">
  <div class="core-nav__wrap">

    <div class="core-nav__left">
      <!-- mobile menu icon -->
      <div class="js-toggle-mobile-nav icon icon--menu"></div>
    </div>

    <div class="core-nav__center">
      <!-- SE logo  -->
      {% include components/logo-se.html placement="header" %}
      <!-- core nav list -->
      {% include nav/core-list.html block="core-nav__list" %}
    </div>

    <div class="core-nav__right">
      <!-- brand logo -->
      {% include components/logo-partner.html placement="header" %}

    </div>
  </div>
</div>


<!-- off canvas mobile menu -->
<div class="mobile-nav is-closed">

  <div class="mobile-nav__top mobile-nav__wrap">
    <!-- close icon -->
    <div class="js-toggle-mobile-nav icon icon--close"></div>
  </div>

  <div class="mobile-nav__middle mobile-nav__wrap">
    <!-- core nav list -->
    {% include nav/core-list.html block="mobile-nav__list" %}
  </div>

  <div class="mobile-nav__bottom">
    <!-- client logo bottom -->
    {% include components/logo-partner.html placement="mobile-nav" %}
  </div>

</div>