<!-- standard microsite navigation -->
<!-- has a modifier for footer theme, which changes the colour and removes the group nav -->

<!-- pages that appear in the site navigation -->
{% assign nav-pages = site.html_pages | where: 'nav', 'true' | sort: 'nav-order' %}

<div class="site-nav {% if include.theme == "footer" %} site-nav--footer{% endif %}">
  <div class="site-nav__scroll-wrap">
    <div class="site-nav__wrap">

        {% for nav-page in nav-pages %}<span class="site-nav__item">

          <a class="site-nav__link{% if nav-page.id == page.id or nav-page.id == page.group-parent %} is-current{% endif %}" href="{{site.baseurl}}{{nav-page.url}}">
            {% if nav-page.nav-title %}
              {{nav-page.nav-title}}
            {% else %}
              {{nav-page.title}}
            {% endif %}
          </a>

          {% if nav-page.group and include.theme != "footer" %}
            {% include nav/site-group.html group-id=nav-page.id %}
          {% endif %}

        </span>{% endfor %}
    </div>
  </div>
</div>