// These are the default settings for type

html { // This is the root size for REM
  font-size: 81.25%; // = 13px
  @include bp($md) { font-size: 87.5%; } // = 14px
  @include bp($xl) { font-size: 92.5%; } // = 15px
}

body {

  // font rendering options
  -webkit-font-smoothing: antialiased;
     -moz-font-smoothing: antialiased;
          font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  // standard
  font-family: $font-core;
  -webkit-text-size-adjust: 100%;

  // light theme
  font-weight: 300;
  line-height: 1.55;
  letter-spacing: .015rem;
  color: $grey-dark;
  background-color: $white;

  // // dark theme
  // font-weight: 300;
  // color: $grey-lighter;
  // background-color: $grey-darkest;
  // line-height: 1.6;
  // letter-spacing: .02rem;

}