.content-spacing {

  // general content styles
  * + p,
  * + ul,
  * + ol  { padding-top: $s-1; }
  li + li { padding-top: $s-3; }

  ul,
  ol { padding-top: $s2; padding-bottom: $s-2; }

  // specific spacing for all titles, these should be adjusted once typefaces & content are added
  p + .title { padding-top: $s5; }
  .title + p { padding-top: $s-3; }
  .title + .title { padding-top: 0; padding-bottom: $s-3; }

  p + .core-title { padding-top: $s5; }
  .core-title + p { padding-top: $s-5; }
  .core-title + .core-title { padding-top: 0; padding-bottom: $s-3; }

  .sub-title,
  .sub-title { padding: 0; }

}