// styles for the group drop down nav

$group-nav-height: 224px;
$group-nav-color:  $orange-darker;

.group-nav {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: $z-nav;
  display: none;
  justify-content: space-between;
  height: $group-nav-height;
  width: 100%;
  background-color: rgba($group-nav-color,.8);
  @include transition;
  transform: scaleY(0);
  transform-origin: top center;
  @include bp($nav-width-bp){
    .no-touch & { display: flex; }
    .site-nav__item:hover & { transform: scaleY(1); }
  }
  &__item {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
  }
  &__link {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: $s0;
    font-family: $font-core;
    font-size: $s0;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .15em;
    color: $white;
    @include transition;
    &.is-current      { background-color: rgba($group-nav-color,.66); }
    .no-touch &:hover { background-color: rgba($group-nav-color,1); }
  }
}